[Unit]
Description=Prometheus Node Exporter
After=network.target
[Service]
ExecStart=/opt/prometheus/node_exporter-1.0.1.linux-amd64/node_exporter
User=root
[Install]
WantedBy=multi-user.target
